<!DOCTYPE html>

<html>
    <head>
        <title>Winnie the Flu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    </head>
    
    <body>
        <div class="header">
            <h1>Winnie the Flu</h1>
            
            <form class="tempcheck" method="post" onsubmit="return checkInp()">
                <p>Check your temperature to assess your risk of having 2019 Novel Coronavirus (2019-nCoV)</p>
                <p>Temperature scale:</p>
                <select name="scale">
                    <option value="C">Celsius</option>
                    <option value="F">Fahrenheit</option>
                </select>
                <br>
                
                <p>Temperature:</p>
                <input type="text" name="temp" id="temp" placeholder="Temperature" required>
                <br><br>

                <input type="submit" class="submit">
                <br>
            </form>
            
            <div class="result">
            {% if not valid %}
            <p>Not a valid temperature</p>
            
            {% elif risk == "High" %}
            <p>{{ temp }}{{ scale }}</p>
            <p style="color: red;">{{ risk }} risk</p>
            <p>Please call a doctor to inform them about your symptoms.</p>
            
            {% elif risk == "Low" %}
            <p>{{ temp }}{{ scale }}</p>
            <p style="color: green;">{{ risk }} risk</p>
            <p>Continue to exercise good personal hygiene and visit the doctor if you fall sick.</p>
            {% endif %}
            </div>    
        </div>

        <div class="mid">
            <h2>What are the symptoms of the 2019 novel coronavirus (2019-nCoV)?</h2>
            <p>Typical symptoms include:</p>
                <ul>
                    <li>Fever</li>
                    <li>Cough</li>
                    <li>Shortness of breath</li>
                </ul>
                <p>The sitaution is evolving and many characteristics of the virus and how it may affect people are still unclear.</p>
        
            <h2>How long is the incubation period?</h2>
            <p>Data suggests that the incubation period is up to 14 days.</p>
            
            <div class="advisory">
                <h2>Play your part in keeping everyone safe</h2>
                <p style="color: green;">Do:</p>
                <ul>
                    <li>Observe good personal hygiene at all times</li>
                    <li>Practise frequent hand washing</li>
                    <li>Wear a mask and seek medical attention if you become unwell</li>
                </ul>

                <p style="color: red;">Avoid:</p>
                <ul>
                    <li>Consuming unpasteurised milk, under-cooked meats and eggs</li>
                    <li>Contact with camels, poultry, birds and other animals</li>
                    <li>Close contact with persons suffering from acute respiratory infections</li>
                    <li>Being a selfish prick and hoarding masks, instant noodles, toilet rolls (wtf lol) etc.</li>
                </ul>
            </div>
        </div>

        
    </body>
</html>