html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color:#F0F0F0;
    background-image: linear-gradient(to bottom, skyblue, skyblue 10%, #F0F0F0 90%, #F0F0F0);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.header {
    text-align: center;
    padding: 40px 0;
}